<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <%= link_to profile.youtube, profile.youtube %>
  </p>

  <p>
    <%= profile.twitch %>
  </p>

  <p>
    <%= profile.twitter %>
  </p>

  <p>
    <%= profile.email %>
  </p>

  <p>
    <%= profile.other %>
  </p>

</div>
